.contenedor__carta{
    margin-top: 880px;
    width: 100%;  
    display: flex !important;
    flex-wrap: wrap ;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .carta{
       @include tamaño-card (600px , 1px);

        .cover__carta{
            width: 100%px;
            height: 180px;
            border-radius: 14px;
            overflow: hidden;
        }
    }

  
    .cover__carta img {
        width: 100%;
        transition: all 300ms;
    }
    
    .texto__carta{
        h2{
            font-size: 22px;
            font-weight: 400;
            margin-top: 27px;
            color: map-get($map: $pallette , $key: texto)
        }
        p{
            margin-top: 20px;
            font-size: 16px;
            font-weight: 300;
            color: map-get($map: $pallette, $key: texto );
            letter-spacing: 0.5px;
            z-index: +1;
        }
    }
   
    .pie__carta{
        margin-top: 5px;
        color: map-get($map: $pallette, $key:texto );
    
        .usuario__nombre{
            font-size: 20px;
        }
    }

    .carta-2{
        @include tamaño-card(450px , 30px);
        
        .cover__carta{
            width: 100%px;
            height: 180px;
            border-radius: 14px;
            overflow: hidden;
        }
    }


    .carta-3{
        @include tamaño-card (600px,1px);
        .cover__carta{
            width: 100%px;
            height: 180px;
            border-radius: 14px;
            overflow: hidden;
        }
    }
}