.footer{
    margin-top: 100px;
    width: 100%;
    background-color: $color-secondary ;

    .footer__pagina{
        width: 100%;
        height: 190px;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-areas:  
        "section1 section2 section3"
        ;
        grid-gap: 30px;

        .footer__box--3{
            grid-area: section1;
            margin-top: 40px;
        }

        .footer__box--4{
            grid-area: section2;

            .footer__box--1{
                color: #fff;
                margin-top: 10px;
                
            }

        }

        .footer__box{
            grid-area: section3;
            color: $color-primary;
            margin-bottom: 15px;
            font-size:  20px;
            text-align: center;
            padding-top: 50px;

            .footer__box--2{ 

                a{
    
                    display: inline-block;
                    text-decoration: none;
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    color: #fff;
                    margin-right: 10px;
                    background-color: hsla(0, 2%, 9%, 0.987);
                    text-align: center;
                }
            
            }
           
        }

    }

    .footer__derechos{
        color: $color-primary;
        width: 100%;
        text-align: center;
        background-color:  hsla(0, 2%, 9%, 0.987);
        padding: 10px;
    }
}