@mixin button ($margin,$width,$left){
    @extend .button;
    margin-bottom: $margin;
    width: $width;
    margin-left: $left;   
}

@mixin cardd ($color , $margin) {
    @extend .card.index;
    background-color: $color;
    margin: $margin;
}