.navbar{
    background-color: map-get($map: $pallette , $key: secondary ) !important ;
    
    .container-fluid {
        font-size: 20px;
        font-weight: 545;

        .navbar-brand{
            padding-top: 20px;
            padding-left: 46px;
            color: #fff;
            height: 65px;
            transition: .3s linear;    
            
            &:hover{
                color: map-get($map: $pallette, $key:primary );
                transform: scale(1.1);
            }
        }
        
        .navbar-toggler{
            background-color: map-get($map: $pallette, $key:primary );
        }
        
    }
   
    .navbar-nav{
        margin-left: 220px;
        
        .nav-item{
            margin-left: 45px;
            margin-right: 45px;
           
            .nav-link{
                transition: .3s linear;
                color: #fff;

                &:hover{
                    color: map-get($map: $pallette, $key:primary );
                    transform: scale(1.1);
                } 
            }   
        }       
    }
}
.bod1{
    background-color: map-get($map: $pallette , $key: bod )
}