.form{
    margin: auto;
    width: 500px;
    margin-top: 100px;
    border-radius: 2%;
    
    .form__contenedor{
       width: 100%;
       padding: 15px;
       margin-bottom: 10px;

        .form__titulo{
           text-align: center;
           color: #fff;
           font-size: 40px;
           margin-bottom: 10px;
        }

        .form__reg{
            margin-bottom: 15px;
            border: 1px solid #aaa;
            background-color: #fff;

            i{
                min-width: 50px;
                text-align: center;
                color: #999;
            }

            .form__reg--input{
                font-size: 20px;
                width: 82%;
                padding: 10px;
                border: none;
                outline: none;
            }
        }
    } 

    div{
        .btn{
            width: 100% !important;
            margin-bottom: 20px;
            padding: 7px;
            box-sizing: border-box;
            font-size: 17px;
            background: $color-primary;
            border-radius: solid 1px #fff;
            border: 0px ;
        }

        .btn:hover{
            background-color: $color-primary;
            color: $color-secondary !important;
        }

        .form__reg--text{
            text-align: center;
            color: #fff;

            .link{
                color: #fff;
                font-weight: 600;    
            }
        }
    }
}


    
