.container{

    .titulo__torso-pierna{
        font-size: 40px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 50px;

       
    }
    .torso__pierna{

        .subtitle__torso-pierna{
            padding-left: 18px;
            margin-bottom: 20px;
        }
    }

    
    .subtitle__torsoo {
        padding-left: 50px;
        margin-top: 25px;
        margin-bottom: 50px;
    }


    .rutina__torso-fuerza{

        .rutina__torso--1{
            padding-top: 40px;
            padding-left: 130px;
        }
        .lista{

            li{
                list-style: none;
            }
            
        }

        .rutina__torso{
            padding-top: 50px;
        }


    }
    div{
        .subtitle__torso-pierna{
            padding-left: 10px;
            margin-bottom: 20px;
        }
        .pierna__hipertrofia{
            padding-top: 50px;
        }
    }
    .rutina__torso-hipertrofia{

        padding-top: 70px;
        padding-left:300px ;

    }
   .informacion{
    margin-top: 30px;

     h3{
        padding-bottom: 10px;

     }

   }
  

}