$color-primary:#d63138;
$color-secondary:black;


$pallette: (
    /*colores que predominan y ocupan mas espacios en los html*/
    primary:#d63138,
    secondary: black,
    /*color de los textos*/
    texto:#fff,
    bod: #212025,
    /*titulos*/
    titulos:#fff,
    /*fondo card rutinas.html*/
    fondo_card: black,
);